In [1]:
import pandas as pd
import numpy as np

In [4]:
#creating a datafrsme
df = pd.DataFrame(data=np.arange(0, 20).reshape(5,4), index=['Row1', 'Row2', 'Row3', 'Row4', 'Row5'],
                 columns=['col1', 'col2', 'col3', 'col4'])
df

      col1  col2  col3  col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [12]:
#accessing elements 2 ways loc, iloc(index location)

print(df.loc['Row1':'Row3'])
type(df.loc['Row1':'Row3'])

      col1  col2  col3  col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11

pandas.core.frame.DataFrame

In [26]:
print(df.loc[['Row4']]) #2 squarebrackets around the index converts it into DataFrame
print(type(df.loc[['Row4']]), '\n')


print(df.loc['Row4'])
type(df.loc['Row4'])

      col1  col2  col3  col4
Row4    12    13    14    15
<class 'pandas.core.frame.DataFrame'>

col1    12
col2    13
col3    14
col4    15
Name: Row4, dtype: int64

pandas.core.series.Series

In [16]:
print(df.loc[['Row2', 'Row4']])
type(df.loc[['Row2', 'Row4']])

      col1  col2  col3  col4
Row2     4     5     6     7
Row4    12    13    14    15

pandas.core.frame.DataFrame

### iloc  

An integer based indexing ranging from 0 to lenghth-1 of the axis for selection by position

In [27]:
df.iloc[0:3, 0:4]

      col1  col2  col3  col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11

In [46]:
(df.iloc[0:4, 0:1]) #sliced the columns and the result got is a dataframe

      col1
Row1     0
Row2     4
Row3     8
Row4    12

In [64]:
(df.iloc[0:5, 0]) #similar output to the previous one but no column name and the result is a series

Row1     0
Row2     4
Row3     8
Row4    12
Row5    16
Name: col1, dtype: int64

In [65]:
type(df.iloc[0:4, 0])

pandas.core.series.Series

In [62]:
print(df.loc[:, 'col1'])
type(df.loc[:, 'col1'])

Row1     0
Row2     4
Row3     8
Row4    12
Row5    16
Name: col1, dtype: int64

pandas.core.series.Series

In [66]:
#convert dataframe to arrays

df.iloc[:, :].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

In [69]:
# check for null values

df.isnull().sum()

col1    0
col2    0
col3    0
col4    0
dtype: int64

In [70]:
df['col1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: col1, dtype: int64

In [71]:
df['col1'].nunique()

5